<div class="admin">
  <h1>Yönlendirme Paneli</h1>
  <p>Diğer sayfalara erişmek için aşağıdan tıklayınız</p>
  <ul>
    <li>
      <button mat-button routerLink="/admin/ilan" style="background-color: #EC637B; width:100%;"><h1 style="color: white;">Kategoriler</h1></button>
    </li>
    &nbsp; &nbsp; &nbsp;
    <li>
      <button mat-button routerLink="/admin/kategori" style="background-color: #EC637B; width:100%;"><h1 style="color: white;">İlanlar</h1></button>
    </li>
    &nbsp;
    &nbsp;
    &nbsp;
    <li>
      <button mat-button routerLink="/admin/uye" style="background-color: #EC637B; width:100%;"><h1 style="color: white;">Üyeler</h1></button>
    </li>
  </ul>
</div>
