<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mat-elevation-z8" style="background-color: #EC637B;color:white">Kategoriler</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/kategori',kat.KategoriId]" *ngFor="let kat of kategoriler"  style="background-color: #EC637B; color: white;" >{{kat.KategoriAdi}} {{kat.KatIlanSay}}</a>
   

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #EC637B; color:white;" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/']" style="color: white;">Tufan Emlak</span>
      <span class="spacer"></span>

      <span class="right-controls">
      <button mat-button [routerLink]="['/login']" *ngIf="!apiServis.oturumKontrol()" style="background-color: rgb(80, 23, 89);">Oturum Aç</button> &nbsp;
      <button mat-button [routerLink]="['/uye']"   *ngIf="apiServis.oturumKontrol()" style="background-color: rgb(80, 23, 89);">{{kadi}}</button>  &nbsp;
      <button mat-button (click)="OturumKapat()"  *ngIf="apiServis.oturumKontrol()" style="background-color: rgb(80, 23, 89);">Oturum Kapat</button>
    </span>

      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Admin Menü" *ngIf="apiServis.yetkiKontrol(['Admin'])">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
    
    <mat-menu #menu="matMenu" >
      <button mat-menu-item [routerLink]="['/admin']" style="background-color:#EC637B; color: white;">Admin Anasayfa</button>
      <button mat-menu-item [routerLink]="['/admin/kategori']" style="background-color: #EC637B; color: white;">Kategoriler</button>
      <button mat-menu-item [routerLink]="['/admin/ilan']" style="background-color: #EC637B; color: white;">İlanlar</button>
      <button mat-menu-item [routerLink]="['/admin/uye']" style="background-color: #EC637B; color: white;">Üyeler</button>
    </mat-menu>

    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
