<div class="container">
  <h1>{{uye?.KullaniciAdi}} Adlı Üyeye Ait İlanlar</h1>
  <h3 style="color: red;" *ngIf="ilanlar?.length==0">Henüz bu üyeye ait ilan girilmemiştir!</h3>
  <div *ngFor="let Ilan of ilanlar">
      <h3>{{Ilan.Baslik}}</h3>
      <p>
          <b>Kategori: </b>{{Ilan.KategoriAdi}} &nbsp;
          <b>Tarih: </b>{{Ilan.Tarih}} &nbsp;
          <b>Yazan: </b>{{Ilan.UyeKadi}} &nbsp;
          <b>OKunma: </b>{{Ilan.Okunma}} &nbsp;
          <a href="#" [routerLink]="['/ilan',Ilan.IlanId]">İlanı incele</a>
      </p>
      <hr>
  </div>
  </div>