<div class="container">
  <h2>Kategoriler</h2>
  <button mat-fab matTooltip="Kategori Ekle" color="primary" style="background-color: #EC637B;" (click)="Ekle()">
    <mat-icon aria-label="label" style="background-color: #EC637B;">add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="background-color: #EC637B;">
    <ng-container matColumnDef="KategoriAdi" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Kategori Adi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.KategoriAdi}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="KatIlanSay" matSort>
      <mat-header-cell *matHeaderCellDef mat-sort-header> İlan Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.KatIlanSay}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="detay">
      <mat-header-cell *matHeaderCellDef> Islemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="primary" matTooltip="İlan Listele">
          <mat-icon aria-label="label">list</mat-icon>
        </button>

        <button mat-icon-button color="primary" matTooltip="Kategori Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>
        
        <button mat-icon-button color="warn" matTooltip="Kategori Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator   [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

</div>